<div class="row">
    <div class="col-md-12">
        <!-- Tabs -->
        <div class="widget">
            <h5 class="heading-underline"><i class="fa fa-columns"></i> Comissão</h5>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#default-tab1" data-toggle="tab">Características Tecnicas</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Como falar com: <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#default-tab2" tabindex="-1" data-toggle="tab">a atendente</a></li>
                            <li><a href="#default-tab3" tabindex="-1" data-toggle="tab">o proprietário</a></li>
                        </ul>
                    </li>
                    <li><a href="#default-tab4" data-toggle="tab">Aumentando o interesse</a></li>
                </ul>

                <div class="tab-content has-padding">
                    <div class="tab-pane fade in active" id="default-tab1">

                        <h1>Características tecnicas <small>A seguir um compilado com as perguntas frequentes</small></h1>
                        <div class="panel-group" id="accordion-color">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-color" href="#colorOne">Qual a linguagem de programação usada no site / sistema?</a>
                                    </h6>
                                </div>
                                <div id="colorOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Usamos HTML 5, CSS 3 e PHP (Utilizando o framework Symfony). Não é usando o php simples como muitas empresas fazem.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-color" href="#colorTwo">Qual são os sistemas que fazemos?</a>
                                    </h6>
                                </div>
                                <div id="colorTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Desenvolvemos o seu sistema de acordo com o funcionamento da sua empresa. Acreditamos que o sistema tem que se adequar ou fluxo de trabalho das empresas e não ao contrário. Desenvolvemos:
                                        <h3>CRM - <small>Gestão de Relacionamento com o Cliente.</small></h3>
                                        Controla os clientes, podendo assim mandar parabéns na data de aniversário dele, identificar que ele quitou alguma compra fazendo assim a empresa parabenizar e oferecer um novo produto, visando vender algo novo e fidelizar o cliente.
                                        <h3>ERP - <small>Sistemas Integrados de Gestão Empresarial.</small></h3>
                                        Controla a empresa, estoque, funcionários, linha de produção, matéria prima, entra e saída de material, contabilidade, contas a receber e pagar.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="default-tab2">
                        <div class="widget">
                            <div class="well">
                                <blockquote>
                                    <p>- Bom dia, aqui quem fala é o(a) {{ app.security.getToken().getUser().getUsernameCanonical() }}, falo em nome da empresa Intrix, somos uma empresa que desenvolve websites e sistemas. Gostaria de saber com quem eu posso falar ai na empresa de vocês para apresentar os nossos serviços?.</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="widget">
                            <div class="well">
                                Dessa forma você consegue pegar o contato da pessoa que irá decidir se vai comprar ou não o site. Nesse sistema você tem um controle com o nome da empresa, nome de quem atendeu e o responsável e também um espaço para você fazer anotações (Hora / dia para religar caso seja preciso).
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="default-tab3">
                        <div class="widget">
                            <div class="well">
                                <blockquote>
                                    <p>Bom dia, aqui quem fala é o(a) {{ app.security.getToken().getUser().getUsernameCanonical() }}, peguei seu contato com a “nome da Recepcionista”. Estou falando em nome da empresa Intrix, somos uma empresa que desenvolve websites e sistemas. Gostaria de saber se existe o interesse em desenvolvermos um site ou sistema para a sua empresa?</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="widget">
                            <div class="well">
                                Dessa forma você já consegue ler um possível interesse e o espaço para você usar do seu vocabulário de vendedor para convencer o cliente. Visando sempre uma visita onde as suas chances de sucesso são maiores.
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="default-tab4">
                        <div class="widget">
                            <div class="well">
                                <blockquote>
                                    <p>As empresas acreditam que um site custa caro, mas como somos uma empresa de Araucária, temos os nossos preços bem competitivos, para o senhor ter um exemplo realizamos até mesmo o aluguel de sites. Onde você paga um valor mensal para testar a todos os benefícios que ter um site traz.</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="widget">
                            <div class="well">
                                <blockquote>
                                    <p>Também contamos com uma forma facilitada de pagamento, podendo ser em 1 + 3. </p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="widget">
                            <div class="well">
                                <blockquote>
                                    <p>Temos várias formas de fazer um site, e para todos os bolsos. Desde sites mais simples aos sites mais complexos, sendo assim tenho certeza que teremos um plano ideal para a sua necessidade web.</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="widget">
                            <div class="well">
                                Esses textos acima são para você tentar fazer o cliente ter algum tipo de interesse em estar comprando um site conosco.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /tabs -->
    </div>
</div>