{% extends 'BackendBundle:Layout:layout.html.twig' %}

{% block body %}
    <!-- Page title -->
    <div class="page-title">
        <h5><i class="fa fa-bars"></i> Dashboard <small>Bem vindo (a), {{ app.security.getToken().getUser().getUsernameCanonical() }}!</small></h5>
        <div class="btn-group">
            <a href="#" class="btn btn-link btn-lg btn-icon dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i><span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="{{ path("gerenciador_list")}}">Gerenciar Dashboards</a></li>
            </ul>
        </div>
    </div>
    <!-- /page title -->


    <!-- Statistics -->
    <ul class="row stats">
        <li class="col-xs-3"><a href="#" class="btn btn-info">520</a> <span>Empresas Cadastradas</span></li>
        <li class="col-xs-3"><a href="#" class="btn btn-success">52</a> <span>Empresas Disponíveis</span></li>
        <li class="col-xs-3"><a href="#" class="btn btn-danger">14</a> <span>Empresas Rejeitaram</span></li>
    </ul>
    <!-- /statistics -->
    {% for widget in aWidgets %}
        {{ render(controller('DashboardBundle:Default:' ~ widget)) }}
    {% endfor %}

{% endblock %}