
                                <div class="table-controls">
                                    <a title="" class="btn btn-default btn-icon btn-xs tip" href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity."~ identifier ~" }) }}" }}" data-original-title="Editar"><i class="fa fa-pencil"></i></a>
                                </div>