<div id="form_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title">Adicionar um novo seguimento</h5>
            </div>

            <!-- Form inside modal -->
            {{ form(form) }}
        </div>
    </div>
</div>

